graft docs
graft src/numdifftools
include requirements.txt
include README.rst
include LICENSE.txt

exclude build_package.py
global-exclude *.py[cod]
global-exclude *.so
global-exclude .svn*
global-exclude Makefile
